/* General page styling */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #007BFF;
    color: white;
}

.navbar a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Main content styling */
.home-banner-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Center content vertically */
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
}

.home-bannerImage-container {
    width: 100%;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    height: auto;
}

.home-text-section {
    max-width: 600px;
    margin: 20px 0;
}

.primary-heading {
    font-size: 2rem;
    margin-bottom: 10px;
}

.primary-text {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Auth container and form styling */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 800px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;

}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {

    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;

}

.auth-button {

    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;

}

.auth-button:hover {
    background-color: #0056b3;
}

.auth-container p {
    margin-top: 10px;
}

.auth-container a {
    color: #007BFF;
    text-decoration: none;
}

.auth-container a:hover {
    text-decoration: underline;
}

.maid-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Footer styling */
.footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 1rem 0;
}